@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=block");
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-*: initial;
  --color-bg: #f4f3f2;
  --color-bg-elevated: #ffffff;
  --color-primary: #222222;
  --color-secondary: #6c6c6c;
  --color-subtle: #b0b0b0;
  --color-black: #000000;
  --color-accent: #d62828;

  --font-inter:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-bg: #0e0e10;
      --color-bg-elevated: #1a1a1d;
      --color-primary: #d4d4d8;
      --color-secondary: #a5a5a5;
      --color-subtle: #6c6c6c;
    }
  }
}

@layer components {
  .h2 {
    @apply text-sm tracking-[0.2rem] text-secondary;
  }
}

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-sm tracking-[0.2rem] text-secondary;
  }

  button {
    @apply cursor-pointer;
  }
}
