---
import Logo from "../../assets/Logo.svg";
import ThemeToggle from "./ThemeToggle";
import CRTToggle from "./CRTToggle";
import {
  LuFlaskConical,
  LuFolderCode,
  LuMail,
  LuNotebookPen,
  LuUserRound,
} from "react-icons/lu";
---

<nav>
  <div
    class="flex items-center justify-between rounded-xl border-2 bg-bg1 p-4 shadow-xl transition-[background-color,border-color,fill,stroke]"
  >
    <a class="text-2xl text-fg transition-colors" href="/"
      ><Logo width={32} height={32} /></a
    >
    <div class="flex items-center justify-center gap-4">
      <a
        href="/about"
        class="hover:text-accent p-2 hover:text-fg3 active:scale-95 active:text-fg4"
      >
        <LuUserRound size={24} />
      </a>
      <a
        href="/contact"
        class="hover:text-accent p-2 hover:text-fg3 active:scale-95 active:text-fg4"
      >
        <LuMail size={24} />
      </a>
      <a
        href="/blog"
        class="hover:text-accent p-2 hover:text-fg3 active:scale-95 active:text-fg4"
      >
        <LuNotebookPen size={24} />
      </a>
      <a
        href="/projects"
        class="hover:text-accent p-2 hover:text-fg3 active:scale-95 active:text-fg4"
      >
        <LuFolderCode size={24} />
      </a>
      <a
        href="/experiments"
        class="hover:text-accent p-2 hover:text-fg3 active:scale-95 active:text-fg4"
      >
        <LuFlaskConical size={24} />
      </a>
      <CRTToggle client:load />
      <ThemeToggle client:load />
    </div>
  </div>
</nav>
