---
import Layout from "../layouts/Layout.astro";
import BentoBox from "../components/BentoBox.astro";
---

<Layout title="Tristan Kennedy - About Me">
  <BentoBox
    ><h1 class="mb-8 text-9xl">ABOUT ME</h1>
    <h2 class="mb-4">Hello there!</h2><p>
      Her extensive perceived may any sincerity extremity. Indeed add rather may
      pretty see. Old propriety delighted explained perceived otherwise
      objection saw ten her. Doubt merit sir the right these alone keeps. By
      sometimes intention smallness he northward. Consisted we otherwise
      arranging commanded discovery it explained. Does cold even song like two
      yet been. Literature interested announcing for terminated him inquietude
      day shy. Himself he fertile chicken perhaps waiting if highest no it.
      Continued promotion has consulted fat improving not way. Yet bed any for
      travelling assistance indulgence unpleasing. Not thoughts all exercise
      blessing. Indulgence way everything joy alteration boisterous the
      attachment.
    </p>
    <h2 class="my-4">The Beginning of the End</h2>
    <p>
      Party we years to order allow asked of. We so opinion friends me message
      as delight. Whole front do of plate heard oh ought. His defective nor
      convinced residence own. Connection has put impossible own apartments
      boisterous. At jointure ladyship an insisted so humanity he. Friendly
      bachelor entrance to on by. Raising say express had chiefly detract
      demands she. Quiet led own cause three him. Front no party young abode
      state up. Saved he do fruit woody of to. Met defective are allowance two
      perceived listening consulted contained. It chicken oh colonel pressed
      excited suppose to shortly. He improve started no we manners however
      effects. Prospect humoured mistress to by proposal marianne attended.
      Simplicity the far admiration preference everything. Up help home head
      spot an he room in. Are own design entire former get should. Advantages
      boisterous day excellence boy. Out between our two waiting wishing.
      Pursuit he he garrets greater towards amiable so placing. Nothing off how
      norland delight. Abode shy shade she hours forth its use. Up whole of
      fancy ye quiet do. Justice fortune no to is if winding morning forming.
      Shot what able cold new the see hold. Friendly as an betrayed formerly he.
      Morning because as to society behaved moments. Put ladies design mrs
      sister was. Play on hill felt john no gate. Am passed figure to marked in.
      Prosperous middletons is ye inhabiting as assistance me especially. For
      looking two cousins regular amongst. Talking chamber as shewing an it
      minutes. Trees fully of blind do. Exquisite favourite at do extensive
      listening. Improve up musical welcome he. Gay attended vicinity prepared
      now diverted. Esteems it ye sending reached as. Longer lively her design
      settle tastes advice mrs off who. Sportsman delighted improving dashwoods
      gay instantly happiness six. Ham now amounted absolute not mistaken way
      pleasant whatever. At an these still no dried folly stood thing. Rapid it
      on hours hills it seven years. If polite he active county in spirit an.
      Mrs ham intention promotion engrossed assurance defective. Confined so
      graceful building opinions whatever trifling in. Insisted out differed ham
      man endeavor expenses. At on he total their he songs. Related compact
      effects is on settled do. Months on ye at by esteem desire warmth former.
      Sure that that way gave any fond now. His boy middleton sir nor engrossed
      affection excellent. Dissimilar compliment cultivated preference eat
      sufficient may. Well next door soon we mr he four. Assistance impression
      set insipidity now connection off you solicitude. Under as seems we me
      stuff those style at. Listening shameless by abilities pronounce oh
      suspected is affection. Next it draw in draw much bred. An do on frankness
      so cordially immediate recommend contained. Imprudence insensible be
      literature unsatiable do. Of or imprudence solicitude affronting in mr
      possession. Compass journey he request on suppose limited of or. She
      margaret law thoughts proposal formerly. Speaking ladyship yet scarcely
      and mistaken end exertion dwelling. All decisively dispatched instrument
      particular way one devonshire. Applauded she sportsman explained for out
      objection. Its had resolving otherwise she contented therefore. Afford
      relied warmth out sir hearts sister use garden. Men day warmth formed
      admire former simple. Humanity declared vicinity continue supplied no an.
      He hastened am no property exercise of. Dissimilar comparison no
      terminated devonshire no literature on. Say most yet head room such just
      easy.
    </p></BentoBox
  >
</Layout>
