---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tristan Kennedy - Contact Me">
  <div class="w-full rounded-xl border-2 p-4" transition:name="contact-me">
    Contact Me
  </div>
</Layout>
