---
import Layout from "../layouts/Layout.astro";
import BentoBox from "../components/BentoBox.astro";
---

<Layout title="Tristan Kennedy - Contact Me">
  <BentoBox><h1>CONTACT ME</h1></BentoBox>
</Layout>
