---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tristan Kennedy - Experiments">
  <div class="w-full rounded-xl border-2 p-4" transition:name="experiments">
    Experiments
  </div>
</Layout>
