---
import BentoBox from "../components/BentoBox.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tristan Kennedy - Experiments">
  <BentoBox><h1>EXPERIMENTS</h1></BentoBox>
</Layout>
