---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.tsx";
---

<Layout title="Tristan Kennedy">
  <h1>Welcome to My Portfolio Dashboard</h1>
  <p class="text-3xl">
    This is a simple dashboard to showcase my projects and skills.
  </p>
</Layout>
