---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import AboutMe from "../components/home/AboutMe.astro";
import Projects from "../components/home/Projects.astro";
import Posts from "../components/home/Posts.astro";
import ScrollToTop from "../components/menu/ScrollToTop";
import Experiments from "../components/home/Experiments.astro";
import Contact from "../components/home/Contact.astro";
---

<Layout title="Tristan Kennedy">
  <ScrollToTop client:load />
  <div class="flex flex-col gap-20 md:gap-28 lg:gap-32">
    <Hero />
    <AboutMe />
    <Projects />
    <Posts />
    <Experiments />
    <Contact />
  </div>
</Layout>
