---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tristan Kennedy">
  <nav class="flex-1">
    <div class="grid h-full grid-cols-8 grid-rows-6 gap-8">
      <div
        class="col-span-4 row-span-3 rounded-xl border-2 p-4 text-xl font-bold"
      >
        Hello my name is Tristan Kennedy
      </div>
      <a
        class="col-span-2 row-span-4 rounded-xl border-2 p-4"
        href="/projects"
        transition:name="projects">Projects</a
      >
      <a
        class="col-span-2 row-span-2 rounded-xl border-2 p-4"
        href="/blog"
        transition:name="blog">Blog</a
      >
      <a
        class="col-span-2 row-span-2 rounded-xl border-2 p-4"
        href="/about"
        transition:name="about-me"
        >About Me
      </a>
      <div class="col-span-4 row-span-1 rounded-xl border-2 p-4">
        Resume, GitHub, LinkedIn Carousel
      </div>
      <a
        class="col-span-3 row-span-2 rounded-xl border-2 p-4"
        href="/experiments"
        transition:name="experiments"
      >
        Experiments
      </a>
      <a
        class="col-span-5 row-span-2 rounded-xl border-2 p-4"
        href="/contact"
        transition:name="contact-me"
      >
        Contact Me
      </a>
    </div>
  </nav>
</Layout>
