---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import AboutMe from "../components/home/AboutMe.astro";
import Projects from "../components/home/Projects.astro";
import Posts from "../components/home/Posts.astro";
import ScrollToTop from "../components/menu/ScrollToTop";
import Experiments from "../components/home/Experiments.astro";
import Contact from "../components/home/Contact.astro";
---

<Layout title="Tristan Kennedy">
  <div
    id="intro-overlay"
    aria-hidden="true"
    class="fixed inset-0 z-[9999] bg-accent"
  >
    <div
      id="intro-text"
      class="absolute top-6 right-6 bottom-6 left-6 text-9xl leading-tight whitespace-pre-wrap text-black"
    >
    </div>
  </div>
  <ScrollToTop client:load />
  <Hero />
  <AboutMe />
  <Projects />
  <Posts />
  <Experiments />
  <Contact />
</Layout>
