---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tristan Kennedy - Projects">
  <div class="w-full rounded-xl border-2 p-4" transition:name="projects">
    Projects
  </div>
</Layout>
