---
import BentoBox from "../components/BentoBox.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tristan Kennedy - Projects">
  <BentoBox>
    <h1>PROJECTS</h1>
  </BentoBox>
</Layout>
