---
import Layout from "../../layouts/Layout.astro";
import Menu from "../../components/menu/Menu";
import { getExperiments } from "../../lib/content/experiments";

const experiments = await getExperiments();
---

<Layout title="Tristan Kennedy | Experiments">
  <section class="mb-48 grid grid-cols-10 gap-x-6 py-8">
    <h1 class="col-start-1 col-end-5 mb-6 text-7xl">Experiments</h1>
    <header class="col-start-10 col-end-11 mb-6 flex items-center justify-end">
      <Menu client:only />
    </header>
    <h2 class="col-span-full mb-32">LAB NOTES</h2>
    <div class="col-start-2 col-end-11 grid grid-cols-1 gap-12">
      {
        experiments.map((experiment, index) => (
          <a
            href={experiment.url}
            class="group grid grid-cols-10 gap-x-6 gap-y-2"
          >
            <h2 class="col-start-1 col-end-2">
              [{String(index + 1).padStart(2, "0")}]
            </h2>
            <h3 class="col-start-2 col-end-9 transition-colors group-hover:text-accent">
              {experiment.data.title}
            </h3>
            <h2 class="col-start-9 col-end-11 text-right">
              {experiment.data.date}
            </h2>
            <p class="col-start-2 col-end-9">{experiment.data.description}</p>
            <h2 class="col-start-2 col-end-9 uppercase">
              {experiment.data.tech.join(" / ")}
            </h2>
            <h2 class="col-start-9 col-end-11 text-right transition-colors transition-transform group-hover:translate-x-2 group-hover:text-accent">
              CHECK IT OUT →
            </h2>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
