<section id="about" class="mb-48 grid grid-cols-10 gap-x-6">
  <h2 class="col-start-1 col-end-3">[01]</h2>
  <h1 class="col-start-7 col-end-11 mb-40 text-right text-7xl">
    Hello, I'm a Full-<br />Stack Developer
  </h1>
  <h2 class="col-start-3 col-end-5">BACKGROUND</h2>
  <h2 class="col-start-9 col-end-11 mb-6 text-right">EXPERTISE</h2>
  <p class="col-start-3 col-end-8">
    I'm a software engineer passionate about creating elegant solutions that
    matter. With a focus on full-stack development and creative engineering, I
    build products that are both functional and beautiful. <br /><br /> My approach
    combines technical precision with design thinking, ensuring every project delivers
    exceptional user experiences backed by robust, scalable code.
  </p>
  <ul class="col-start-8 col-end-11 text-right">
    <li>JavaScript / TypeScript</li>
    <li>React / Astro / Node.js</li>
    <li>Python / Django / Flask</li>
    <li>SQL / NoSQL Databases</li>
    <li>RESTful APIs & GraphQL</li>
    <li>Cloud Services (AWS, Azure)</li>
    <li>CI/CD & DevOps</li>
  </ul>
</section>
