<section id="contact" class="mb-24 grid grid-cols-10 gap-x-6">
  <hr class="col-span-full mb-24 text-subtle" />
  <h2 class="col-start-1 col-end-3">05 — CONTACT</h2>
  <h2 class="col-start-9 col-end-11 mb-24 text-right">HI THERE</h2>
  <h1 class="col-span-full mb-10 text-[12rem]">Get in touch</h1>
  <div class="col-start-1 col-end-5 flex flex-col gap-3 text-xl font-semibold">
    <a class="hover:text-accent" href="mailto:hello@tristankennedy.dev">
      Email — hello@tristankennedy.dev
    </a>
    <a class="hover:text-accent" href="https://github.com/tristankennedy">
      GitHub — @tristankennedy
    </a>
  </div>
  <div class="col-start-6 col-end-11 flex flex-col gap-3 text-xl font-semibold">
    <a
      class="hover:text-accent"
      href="https://www.linkedin.com/in/tristankennedy/"
    >
      LinkedIn — /in/tristankennedy
    </a>
    <a class="hover:text-accent" href="https://x.com/tristankennedy">
      X — @tristankennedy
    </a>
  </div>
</section>
