---
import Menu from "../menu/Menu";
import { LuArrowDown } from "react-icons/lu";
---

<section data-hero id="hero" class="mb-40 flex min-h-screen flex-col py-8">
  <header class="flex items-center justify-end gap-2">
    <div class="text-end">
      <h2 class="text-primary">SOFTWARE ENGINEER</h2>
      <h3 class="text-sm text-secondary">Rogers, AR</h3>
    </div>
  </header>
  <div class="my-auto flex flex-col gap-8 py-8">
    <h2>INDEX</h2>
    <h1 data-hero-title class="text-[12rem] font-black">
      TRISTAN<br />KENNEDY
    </h1>
    <div class="flex gap-8">
      <Menu client:load />

      <nav data-hero-nav class="h2">
        <ul>
          <li class="transition-transform hover:translate-x-2">
            <a href="#about" class="transition-colors hover:text-accent"
              >01/ ABOUT ME</a
            >
          </li>
          <li class="transition-transform hover:translate-x-2">
            <a href="#projects" class="transition-colors hover:text-accent"
              >02/ PROJECTS</a
            >
          </li>
          <li class="transition-transform hover:translate-x-2">
            <a href="#posts" class="transition-colors hover:text-accent"
              >03/ POSTS</a
            >
          </li>
          <li class="transition-transform hover:translate-x-2">
            <a href="#experiments" class="transition-colors hover:text-accent"
              >04/ EXPERIMENTS</a
            >
          </li>
          <li class="transition-transform hover:translate-x-2">
            <a href="#contact" class="transition-colors hover:text-accent"
              >05/ CONTACT</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <footer class="flex justify-between">
    <h2>© 2025</h2>
    <div class="h2 flex items-center gap-2">
      <LuArrowDown className="animate-bounce" />
      <h2>SCROLL</h2>
    </div>
  </footer>
</section>
