---
import Menu from "../menu/Menu";
import { LuArrowDown } from "react-icons/lu";
---

<section id="hero" class="mb-40 flex min-h-screen flex-col py-8">
  <header class="flex items-center justify-end gap-2">
    <div class="text-end">
      <h2 class="text-primary">SOFTWARE ENGINEER</h2>
      <h3 class="text-sm text-secondary">Rogers, AR</h3>
    </div>
    <Menu client:load />
  </header>
  <div class="my-auto flex flex-col gap-8 py-8">
    <h2>INDEX</h2>
    <h1 class="text-[12rem] font-black">TRISTAN<br />KENNEDY</h1>
    <nav class="h2">
      <ul>
        <li>
          <a href="#about" class="transition-colors hover:text-accent"
            >01/ ABOUT ME</a
          >
        </li>
        <li>
          <a href="#projects" class="transition-colors hover:text-accent"
            >02/ PROJECTS</a
          >
        </li>
        <li>
          <a href="#blog" class="transition-colors hover:text-accent"
            >03/ BLOG</a
          >
        </li>
        <li>
          <a href="#experiments" class="transition-colors hover:text-accent"
            >04/ EXPERIMENTS</a
          >
        </li>
        <li>
          <a href="#contact" class="transition-colors hover:text-accent"
            >05/ CONTACT</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <footer class="flex justify-between">
    <h2>© 2025</h2>
    <div class="h2 flex items-center gap-2">
      <LuArrowDown />
      <h2>SCROLL</h2>
    </div>
  </footer>
</section>
