---
import { getPosts } from "../../lib/content/posts";

const posts = await getPosts();
const featured = posts[0];
---

<section id="posts" class="section-shell section-grid">
  <h2 data-animate class="hidden md:block md:col-start-1 md:col-end-2 md:mb-6">
    [03]
  </h2>
  <h1
    data-animate
    class="display-xl md:col-start-5 md:col-end-11 md:mb-6 md:text-right"
  >
    Latest Thought
  </h1>
  <a
    data-animate
    href="/posts"
    class="h2 md:col-span-full md:mb-32 md:text-right transition-colors transition-transform hover:-translate-x-2 hover:text-accent"
    >← ALL POSTS</a
  >
  <div data-animate class="md:col-start-2 md:col-end-9 grid grid-cols-1 gap-12">
    <a
      href={featured.url}
      class="group items-start gap-x-8 border border-transparent transition-all"
    >
      <div class="flex flex-col gap-y-6">
        <h2 class="uppercase">{featured.data.date}</h2>
        <h3 class="transition-colors group-hover:text-accent">
          {featured.data.title}
        </h3>
        <p>{featured.data.description.split(".")[0]}...</p>
        <h2
          class="uppercase transition-colors transition-transform group-hover:translate-x-2 group-hover:text-accent"
        >
          {featured.data.length} →
        </h2>
      </div>
    </a>
  </div>
  <h2 data-animate class="hidden md:block md:col-start-10 md:col-end-11 md:text-right">
    FEATURED
  </h2>
</section>

