---
const year = new Date().getFullYear();
---

<footer>
  <div class="mt-auto flex flex-col gap-2 text-sm transition-colors md:flex-row md:items-center md:justify-between">
    <div>
      © {year} Tristan Kennedy. All Rights Reserved.
    </div>
    <div class="flex items-center">This could be a bar code some day.</div>
  </div>
</footer>

