---
const year = new Date().getFullYear();
---

<footer>
  <div class="mt-auto flex items-center justify-between transition-colors">
    <div>
      © {year} Tristan Kennedy. All Rights Reserved.
    </div>
    <div class="flex items-center">This could be a bar code some day.</div>
  </div>
</footer>
