---
import Barcode from "../assets/barcode.svg";
---

<footer class="section-grid pb-4">
  <div class="flex items-center justify-between gap-4 md:col-span-full">
    <h2>© 2025 Tristan Kennedy.</h2>
    <Barcode
      class="hidden text-secondary sm:block"
      style="height: 2rem;"
      aria-hidden="true"
    />
  </div>
</footer>
