---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
  <link
    rel="icon"
    href="/favicon-light.svg"
    type="image/svg+xml"
    media="(prefers-color-scheme: light)"
  />
  <link
    rel="icon"
    href="/favicon-dark.svg"
    type="image/svg+xml"
    media="(prefers-color-scheme: dark)"
  />
  <ClientRouter />

  <script is:inline data-astro-rerun>
    function setTheme() {
      const theme =
        localStorage.theme ??
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");
      document.documentElement.setAttribute("data-theme", theme);
    }

    setTheme();
    document.addEventListener("astro:after-swap", setTheme);
  </script>

  <script is:inline data-astro-rerun>
    function setCRT() {
      const stored = localStorage.getItem("crt");
      const prefersReduce = window.matchMedia(
        "(prefers-reduced-motion: reduce)",
      ).matches;
      const crtEnabled =
        stored === "enabled" || (stored == null && prefersReduce);

      if (crtEnabled) {
        document.documentElement.classList.add("crt");
      } else {
        document.documentElement.classList.remove("crt");
      }
    }

    setCRT();
    document.addEventListener("astro:after-swap", setCRT);
  </script>
</head>
