---
import ThemeToggle from "./ThemeToggle";
---

<nav>
  <div class="flex items-center justify-between rounded-xl border-2 p-4">
    <a class="text-2xl" href="/">Tristan Kennedy</a>
    <ThemeToggle client:load />
  </div>
</nav>
