---
import ThemeToggle from "./ThemeToggle";
import CRTToggle from "./CRTToggle";
---

<nav>
  <div
    class="flex items-center justify-between rounded-xl border-2 bg-bg1 p-4 transition-colors"
  >
    <a class="text-2xl" href="/">TRISTAN KENNEDY</a>
    <div>
      <CRTToggle client:load />
      <ThemeToggle client:load />
    </div>
  </div>
</nav>
