<section id="projects" class="grid grid-cols-10 gap-x-6 gap-y-6">
  <h2 class="col-start-1 col-end-3">SELECTED WORK</h2>
  <h2 class="col-start-9 col-end-11 text-right">02 — PROJECTS</h2>
  <h1 class="col-start-1 col-end-5">Recent Projects</h1>
  <h2 class="col-start-1 col-end-3">VIEW ALL WORK →</h2>
</section>
