---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <Head title={title} />
  <body
    class="mx-auto flex max-w-[1440px] flex-col bg-bg px-8 font-inter text-primary transition-colors"
  >
    <main>
      <slot />
    </main>
  </body>
</html>
